page-login {
    .logo{
        width: 65%;
        margin: 0 0 30px;
        
    }
    .scroll-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F5F5F5;
        padding-bottom: 16px!important;
        form{
            width: 85%;
            .item{
                background-color: transparent;
                padding: 0;
                color: #555;
                .item-inner{ 
                    padding-right: 0;
                }
            }

            .button{
                margin: 2rem 0rem 0;
                background-color: color($colors, purple);
                font-weight: 700;
            }
        }
    }

}
