<ion-header>
  <ion-navbar>
    <ion-title>
      Mis Encuestas
    </ion-title>

    <ion-buttons end>
      <button color="light" ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-nav #mycontent [root]="rootPage">
  <ion-menu [content]="mycontent">
    <ion-content>
      <ion-list>
        <ion-item menuClose detail-none>Close Menu</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu></ion-nav>
<ion-content padding>
  <ion-list class="lista-encuestas" *ngIf="!appData.loading">
    <ion-item-sliding #slidingItem *ngFor="let survey of surveys">
        <ion-item>
          <div class="card-content">
            <ion-row>
              <ion-col col-12>
                <h1 class="card-header">{{survey.title}}</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 class="surv-dates">
                <p>{{survey.start_date}}</p>
                <p>{{survey.end_date}}</p>
              </ion-col>
            </ion-row>
            <ion-row class="card-buttons">
              <ion-col col-6>
                <button class="circle-button" ion-button icon-only>
                  <ion-icon name="information"></ion-icon>
                </button>
                <button class="circle-button" ion-button icon-only>
                  <ion-icon name="cloud-upload"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-6>
                <button ion-button type="submit" block (click)="openSurvey(survey)">APLICAR</button>
              </ion-col>
            </ion-row>
          </div>
        </ion-item>
        <ion-item-options>
            <div class="card-right-btn" >
              <button ion-button icon-only (click)="openSurvey(survey)">
                  <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </div>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <div *ngIf="appData.loading" >
    <skeleton-item width="100%" height="80px"></skeleton-item>
    <skeleton-item width="100%"  height="80px"></skeleton-item>
    <skeleton-item width="100%"  height="80px"></skeleton-item>
    <skeleton-item width="100%"  height="80px"></skeleton-item>
  </div>
</ion-content>

<ion-footer>
  <ion-segment>
    <!--<ion-segment-button>
      <ion-icon name="wifi"></ion-icon>
    </ion-segment-button>-->
    <ion-segment-button>
      <ion-icon name="cloud-upload" (click)="saveLocalSurveys()"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
        <ion-icon name="refresh" (click)="getSurveys()"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="log-out" (click)="logout()"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>