<ion-content>
    <p class="pregunta" *ngIf="question.text != ''" >{{question.text}}</p>
    <p class="subpregunta" *ngIf="question.help != ''">{{question.help}}</p>
    <div class="respuestas" *ngIf="question.options">
      <ion-item *ngFor="let answer of question.options; index as i;">
        <ion-label>{{answer.text}}</ion-label>
        <ion-checkbox color="secondary" (ionChange)="updateCheckbox($event, answer.text)"></ion-checkbox>
      </ion-item>

    </div>
</ion-content>
<ion-footer>
    <button class="full-button-red" ion-button full block color="secondary" type="button" (click)="nextSlide()">CONTINUAR</button>
</ion-footer>