<ion-content>
    <p class="pregunta" *ngIf="question.name != ''" >{{question.name}}</p>
    <p class="subpregunta" *ngIf="question.question != ''">{{question.question}}</p>
    <div class="respuestas" *ngIf="question.answers">
      <ion-item *ngFor="let answer of question.answers; index as i;">
        <ion-label>{{answer}}</ion-label>
        <ion-checkbox [(ngModel)]="question.answers[i]"></ion-checkbox>
      </ion-item>
    </div>
</ion-content>
<ion-footer>
    <button class="full-button-red" ion-button full block color="danger" type="button" (click)="nextSlide()">CONTINUAR</button>
</ion-footer>