<ion-content>
  <p class="pregunta" *ngIf="question.text != ''" >{{question.questionId}} {{question.text}}</p>
  <p class="subpregunta" *ngIf="question.question != ''">{{question.help}}</p>
  <div class="respuestas" *ngIf="question.options">
    <ion-list radio-group [(ngModel)]="value">
        <ion-item *ngFor="let answer of question.options" >
            <ion-label>{{answer.text}}</ion-label>
            <ion-radio [value]="answer" color="secondary"></ion-radio>
          </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <button class="full-button-red" ion-button full block color="secondary" type="button" (click)="nextSlide()">CONTINUAR</button>
</ion-footer>