<ion-content>
  <p class="pregunta">Desde su punto de vista ¿Cuáles considera que son los tres problemas más importantes del país?</p>
  <p class="subpregunta">Encuestador: Registre sólo tres menciones para cada pregunta</p>
  <div class="respuestas">
    <ion-item>
      <ion-label>Corrupción / Impunidad</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Inseguridad – Delincuencia</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Desempleo</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Vivienda</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Salud</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Malos salarios</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Educación</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Narcotráfico - Narcomenudeo</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Contaminación</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Transporte</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Drogadicción / Alcoholismo</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Pobreza</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Desigualdad</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
    <button class="full-button-red" ion-button full block color="danger" type="button" (click)="nextSlide()">CONTINUAR</button>
  </ion-footer>