checkbox2 {
    height: 98%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 4.5rem;
    .respuestas {
        flex: 1 1 auto;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0;
    }
    p.pregunta {
        text-align: left;
        align-self: flex-start;
        padding: 0;
        color: color($colors, primary);
        font-size: 1.2em;
        font-weight: bold;
        margin: 6px 0 10px;
    }
    p.counter {
        font-size: 15px;
        text-align: left;
        font-weight: bold;
        margin: 0;
        color: color($colors, secondary);
    }
    .subpregunta{
        font-size: 1em;
        text-align: left;
        align-self: flex-start;
        padding: 0;
        color: color($colors, gray);
        font-weight: 500;
        margin: 0;
    }
    .item{
        min-height: inherit;
        border: none!important;
        color: color($colors, primary);
        margin-left: 0;
        width: calc(100% - 32px);
        .item-inner{
            border: none!important;
        }
        button{
            padding: 20px 13px;
        }
    }
    .item.item-checkbox .item-inner {
        border: none;
        font-size: 2rem;
        font-family: Roboto;
        color: #333;
        .label{
            white-space: normal;
        }
    }

    .list{
        .item-block{
            color: #5d5d5d;
            .item-inner{
                border-bottom: none;
                
            }
            ion-radio.radio {
                background-color: #FFF;
                border-radius: 50%;
                width: 23px;
                height: 23px;
                border: 1px solid color($colors, secondary);
            }
            &.item-radio-checked{
                ion-radio.radio {
                    background-color: color($colors, secondary);
                }
                .radio-inner{
                    border-color: #FFF;
                    left: 9px;
                    top: 4px;
                }
            }
        } 
    }
    .item-radio ion-label {
        margin-left: 0;
        white-space: pre-wrap;
    }
}
