<ion-header>
  <ion-navbar>
    <ion-title class="logo">
      <span>S</span>urvIT
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="white" (click)="goOut()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides #slides>
 
    <ion-slide *ngIf="survey.welcome_message != ''" >
      <just-text [message]="survey.welcome_message" (clickSwipe)="onSwipeEmittedNotAns($event)"></just-text>
    </ion-slide>

    <ion-slide *ngFor="let question of survey.questions">
      <simple-input *ngIf="question.category != '' && question.category == 'Simple'" [question]="question" (clickSwipe)="onSwipeEmitted($event)"></simple-input>

      <checkbox *ngIf="question.category != '' && question.category == 'Múltiple'" [question]="question" (clickSwipe)="onSwipeEmitted($event)"></checkbox>

      <checkbox2 *ngIf="question.category != '' && question.category == 'Radios'" [question]="question" (clickSwipe)="onSwipeEmitted($event)"></checkbox2>

      <number-input *ngIf="question.category != '' && question.category == 'Número'" [question]="question" (clickSwipe)="onSwipeEmitted($event)"></number-input>
      
      <tabla *ngIf="question.category != '' && question.category == 'Tabla'" [question]="question" (clickSwipe)="onSwipeEmitted($event)"></tabla>
    </ion-slide>


  </ion-slides>
</ion-content>
