page-encuesta {
    .slide-zoom {
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
    }
    .bottom-btn {
        font-size: 2.1rem;
        text-transform: uppercase;
        background-color: color($colors, primary);
        color: #fff;
        font-weight: 700;
        font-family: Noto sans;
        padding: 13px;
        border-radius: 5px;
    }
}